*.venv
*__pycache__
*.pytest_cache
.venv/
*.pyc
*.vite

ops/infra/age.key

.DS_Store
.vscode/
.idea/
*.log
*.sqlite3
*.env
*.terraform/
*.terraform.lock.hcl
.helm/
*.tfstate
*.tfstate.backup
.helmignore
node_modules/
dist/
build/
*.egg-info/
coverage/
htmlcov/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
celerybeat-schedule
instance/
.webassets-cache
.coverage
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.tox/
pip-wheel-metadata/
__pypackages__/
.ruff_cache/
.ruff.toml
.merlin/
