---
version: "3.8"
services:
  api:
    build:
      context: .
      dockerfile: ./api/Dockerfile.dev
    image: opsbox-api:compose
    ports:
      - "8001:8001"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
      - DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/postgres
    depends_on:
      - postgres
  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./api/app/data/init:/docker-entrypoint-initdb.d

volumes:
  postgres_data:
