amqp==5.3.1
billiard==4.2.2
celery==5.5.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
click==8.2.1
croniter==6.0.0
greenlet==3.2.4
kombu==5.5.4
packaging==25.0
prometheus-client==0.23.1
prompt-toolkit==3.0.52
psycopg-binary==3.2.12
psycopg==3.2.12
python-dateutil==2.9.0.post0
pytz==2025.2
redis==7.0.1
rq==2.5.0
six==1.17.0
SQLAlchemy==2.0.43
typing-extensions==4.14.1
tzdata==2025.2
uvicorn==0.35.0
uvloop==0.21.0
vine==5.1.0
