global:
  imageRegistry: ghcr.io
  rabbitmq:
  security:
    allowInsecureImages: true
auth:
  username: opsbox
  password: opsbox
image:
  registry: ghcr.io
  repository: kieukhang185/rabbitmq
  tag: "4.1.3"
clustering:
  enabled: false
service:
  type: ClusterIP
resources:
  requests:
    cpu: 50m
    memory: 128Mi
metrics:
  enabled: true
  serviceMonitor:
    enabled: false
