---
# This flow is used to build and push Docker images to GitHub Container Registry on changes to main branch.
# and deploy to a Kubernetes cluster and run a smoke test job.
name: build-and-test

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

env:
  REGISTRY: ghcr.io/${{ github.repository_owner }}
  SHA_TAG: ${{ github.sha }}
  BRANCH: ${{ github.ref_name }}
  IMAGE_PREFIX: ${{ github.ref_name == 'main' && '' || 'dev' }} # not supported env.BRANCH var conditionals
  LATEST_TAG: latest
  NAMESPACE: dev
  PROM_RELEASE: monitoring
  ARGO_ROLLOUTS: argo-rollouts

jobs:
  detect-changes:
    runs-on: ubuntu-24.04
    outputs:
      api-build: ${{ steps.filter.outputs.api }}
      worker-build: ${{ steps.filter.outputs.worker }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Filter changes
        id: filter
        uses: dorny/paths-filter@v2
        with:
          filters: |
            api:
              - 'api/*'
            worker:
              - 'worker/**'

  build-push-api:
    needs: detect-changes
    if: needs.detect-changes.outputs.api-build == 'true'
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build API
        run: |
          docker build --tag ${{ env.REGISTRY }}/opsbox-api-${{ env.IMAGE_PREFIX }}:${{ env.SHA_TAG }} \
            --tag ${{ env.REGISTRY }}/opsbox-api-${{ env.IMAGE_PREFIX }}:${{ env.LATEST_TAG }} --file api/Dockerfile .

      - name: Push API
        run: |
          docker push ${{ env.REGISTRY }}/opsbox-api-${{ env.IMAGE_PREFIX }}:${{ env.SHA_TAG }}
          docker push ${{ env.REGISTRY }}/opsbox-api-${{ env.IMAGE_PREFIX }}:${{ env.LATEST_TAG }}

      - name: SBOM API
        uses: anchore/sbom-action@v0
        with:
          image: ${{ env.REGISTRY }}/opsbox-api-${{ env.IMAGE_PREFIX }}:${{ env.SHA_TAG }}
          artifact-name: sbom-api.spdx.json

      - name: Trivy scan API
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: ${{ env.REGISTRY }}/opsbox-api-${{ env.IMAGE_PREFIX }}:${{ env.SHA_TAG }}
          format: 'json'
          output: 'trivy-api-report.json'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'

  build-push-worker:
    needs: detect-changes
    if: needs.detect-changes.outputs.worker-build == 'true'
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Worker
        run: |
          docker build --tag ${{ env.REGISTRY }}/opsbox-worker-${{ env.IMAGE_PREFIX }}:${{ env.SHA_TAG }} \
            --tag ${{ env.REGISTRY }}/opsbox-worker-${{ env.IMAGE_PREFIX }}:${{ env.LATEST_TAG }} --file worker/Dockerfile .

      - name: Push Worker
        run: |
          docker push ${{ env.REGISTRY }}/opsbox-worker-${{ env.IMAGE_PREFIX }}:${{ env.SHA_TAG }}
          docker push ${{ env.REGISTRY }}/opsbox-worker-${{ env.IMAGE_PREFIX }}:${{ env.LATEST_TAG }}

      - name: SBOM Worker
        uses: anchore/sbom-action@v0
        with:
          image: ${{ env.REGISTRY }}/opsbox-worker-${{ env.IMAGE_PREFIX }}:${{ env.SHA_TAG }}
          artifact-name: sbom-worker.spdx.json

      - name: Trivy scan Worker
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: ${{ env.REGISTRY }}/opsbox-worker-${{ env.IMAGE_PREFIX }}:${{ env.SHA_TAG }}
          format: 'json'
          output: 'trivy-worker-report.json'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'

  deploy-and-test:
    needs: [build-push-api, build-push-worker, detect-changes]
    if: ${{ always() && (needs.build-push-api.result == 'success' || needs.build-push-worker.result == 'skipped')
      && (needs.build-push-api.result == 'success' || needs.build-push-worker.result == 'skipped')}}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: helm/kind-action@v1
        with:
          cluster_name: opsbox

      - name: Check kind cluster
        run: kubectl cluster-info --context kind-opsbox

      - name: Resolve image tags
        id: vars
        run: |
          # if not change image use latest tag
          if [ "${{ needs.detect-changes.outputs.api-build }}" == "false" ]; then
            echo "API not changed, using latest tag"
            echo "api-tag=latest" >> "$GITHUB_OUTPUT"
          else
            echo "api-tag=${{ github.sha }}" >> "$GITHUB_OUTPUT"
          fi
          if [ "${{ needs.detect-changes.outputs.worker-build }}" == "false" ]; then
            echo "Worker not changed, using latest tag"
            echo "worker-tag=latest" >> "$GITHUB_OUTPUT"
          else
            echo "worker-tag=${{ github.sha }}" >> "$GITHUB_OUTPUT"
          fi

      - name: Create K8s namespaces
        run: |
          kubectl get ns ${{ env.NAMESPACE }} ||kubectl create namespace ${{ env.NAMESPACE }} \
            --dry-run=client -o yaml | kubectl apply -f -

          kubectl get ns ${{ env.PROM_RELEASE }} || kubectl create ns ${{ env.PROM_RELEASE }} \
            --dry-run=client -o yaml | kubectl apply -f -

          kubectl get ns ${{ env.ARGO_ROLLOUTS }} || kubectl create ns ${{ env.ARGO_ROLLOUTS }} \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Apply secrets
        run: |
          # Needs AGE key in repo secret AGE_PRIVATE_KEY (already set for sops work)
          mkdir -p ~/.config/sops/age
          curl -LO https://github.com/getsops/sops/releases/download/v3.8.1/sops_3.8.1_amd64.deb
          sudo dpkg -i sops_3.8.1_amd64.deb
          printf '%s\n' "$AGE_PRIVATE_KEY" > ~/.config/sops/age/keys.txt
          sops -d ops/secrets/dev.app.enc.yaml | kubectl apply -f - -n ${{ env.NAMESPACE }}
        env:
          AGE_PRIVATE_KEY: ${{ secrets.AGE_PRIVATE_KEY }}

      - name: Helm repository
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo update

      - name: Install/upgrade Prometheus
        run: |
          helm upgrade --install ${{ env.PROM_RELEASE }} prometheus-community/kube-prometheus-stack \
            --namespace ${{ env.PROM_RELEASE }} \
            -f ops/observability/values.override.yaml

          # wait for Prometheus ready
          kubectl -n ${{ env.PROM_RELEASE }} rollout status deploy/${{ env.PROM_RELEASE }}-grafana --timeout=5m || true
          kubectl -n ${{ env.PROM_RELEASE }} rollout status statefulset/${{ env.PROM_RELEASE }}-prometheus --timeout=5m || true

      - name: Install/upgrade Postgres
        run: |
          helm upgrade --install pg bitnami/postgresql -n ${{ env.NAMESPACE }} \
            -f ops/helm/postgres/values.dev.yaml

          # wait for PG ready
          kubectl -n ${{ env.NAMESPACE }} rollout status statefulset/pg-postgresql --timeout=240s || true

      - name: Install/upgrade RabbitMQ
        run: |
          helm upgrade --install rabbitmq bitnami/rabbitmq -n ${{ env.NAMESPACE }} \
            -f ops/helm/rabbitmq/values.dev.yaml
          # wait for RabbitMQ ready
          kubectl -n ${{ env.NAMESPACE }} rollout status statefulset/rabbitmq --timeout=240s || true

      - name: Install/upgrade Redis
        run: |
          helm upgrade --install redis bitnami/redis -n ${{ env.NAMESPACE }} \
            -f ops/helm/redis/values.dev.yaml

          # wait for Redis ready
          kubectl -n ${{ env.NAMESPACE }} rollout status statefulset/redis-master --timeout=240s || true

      - name: Apply service accounts
        run: |
          kubectl -n ${{ env.NAMESPACE }} apply -f ops/scripts/templates/rbac-readonly.yaml

      - name: Apply Argo Rollouts
        run: |
          kubectl -n argo-rollouts apply -f https://github.com/argoproj/argo-rollouts/releases/latest/download/install.yaml

      - name: Helm upgrade Worker
        run: |
          helm upgrade --install worker ops/helm/worker -n ${{ env.NAMESPACE }} \
            --set image.repository=${{ env.REGISTRY }}/opsbox-worker-${{ env.IMAGE_PREFIX }} \
            --set image.tag=${{ steps.vars.outputs.worker-tag }}

      - name: Helm upgrade API
        run: |
          helm upgrade --install api ops/helm/api -n ${{ env.NAMESPACE }} \
            --set image.repository=${{ env.REGISTRY }}/opsbox-api-${{ env.IMAGE_PREFIX }} \
            --set image.tag=${{ steps.vars.outputs.api-tag }} \
            --set service.port=80 \
            --set containerPort=8000

      - name: Wait for deployments
        run: |
          # kubectl -n ${{ env.NAMESPACE }} rollout status deploy/opsbox-api --timeout=240s || true
          kubectl -n ${{ env.NAMESPACE }} rollout status deploy/opsbox-worker --timeout=240s || true
          kubectl -n ${{ env.NAMESPACE }} port-forward svc/api 8080:80 >/tmp/pf.log 2>&1 &

      - name: Run Helm smoke tests
        run: |
          helm test api -n ${{ env.NAMESPACE }} --logs

      - name: Print helpful diagnostics on failure
        if: failure()
        run: |
          echo "--- Pods"
          kubectl -n ${{ env.NAMESPACE }} get pods -o wide || true
          echo "--- Events"
          kubectl -n ${{ env.NAMESPACE }} get events --sort-by=.lastTimestamp | tail -n 200 || true
          echo "--- Logs API"
          POD_NAME=$(kubectl get pods --namespace dev -l "app.kubernetes.io/name=api,app.kubernetes.io/instance=api" -o jsonpath="{.items[0].metadata.name}")
          kubectl -n ${{ env.NAMESPACE }} logs $POD_NAME --all-containers --tail=200 || true
          echo "--- Logs Worker"
          kubectl -n ${{ env.NAMESPACE }} logs deploy/opsbox-worker --all-containers --tail=200 || true
