---
name: pre-commit
on:
    pull_request:
        branches: [main, dev]
    push:
        branches: [main, dev]
jobs:
    pre-commit:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
            - uses: actions/setup-node@v3
              with: {node-version: '20'}
            - uses: actions/cache@v4
              with:
                  path: ~/.cache/pip
                  key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
                  restore-keys: |
                    ${{ runner.os }}-pip-
            - name: Install pre-commit ruff
              run: pip install pre-commit ruff
            - name: Run pre-commit on all files
              run: pre-commit run --all-files
